body {
	background-color:gray; text-align: center;
}
h1 {
	color:gray;
	text-align:center;
	font-style: inherit;
	text-decoration: underline;
	border: dotted;
	border-color: orange; border-style: dashed;
}
img{
	float: right;
}

h2 {
	color:red;
	text-align:center;


}
p {
	font-family:"Times New Roman","Times";
	font-size:30px;
	outline-style:dotted; 
outline-color:yellow;
}
